{% extends "base.html" %}
{% load custom_tags %}

{% block content %}

<div class="row single-post">
    <div class="single-post-card view-update {{ object.pk }}">
        <div class="header">
            <a href="{% url 'user_detail' post.author.id %}">
                {% if object.author.profile_pic %}
                    <img class="picture-circle--medium" src="/{{object.author.profile_pic}}">
                {% endif %}
                {{ object.author.username }}
            </a>
        </div>

        <div class="image__wrapper">
            <img class="card__main-image" src="/{{object.image}}" width='1000', height='1000'>
        </div>

        <div class="comments-portion">
            <div class="likes">
                {% if post.get_like_count %}
                    {{ post.get_like_count }} like{% if post.get_like_count > 1 %}s{% endif %}
                {% endif %}
            </div>

             <div class ="poster__timestamp">Posted {{post.posted_on|timesince}} ago </div>
            <ul class ="comment-list">
                <a class ="view-more"></a>
                {% for comment in post.comments.all %}
                <li class = "comment-like_comment">
                    <a href="{% url 'user_detail' comment.user.id %}" class="poster__name">
                        {{comment.user.username}}
                    </a>
                    <span class="comment">:  {{comment.comment}}</span>
                </li>
                {% endfor %}
            </ul>

            <section class="input-row">
                <i class="fa {% has_user_liked_post post user %} submit-like" aria-hidden="true"> </i>
                <div class="comment-input-wrapper">
                    <input class="add-comment" type="text" placeholder="Add a comment...">
                </div>
                <div class="hidden-data {{ post.pk }}" style="display: none;">
                    <span class="post-pk">{{ post.pk }}</span>
                </div>
            </section>

        </div>

    </div>
</div>

{% endblock content %}